.details {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}
.img-block {
    overflow: hidden;
    height: 250px;
    text-align: center;
    position: relative;

    img {
        max-width: 100%;
        height: 250px;
    }

    button {
        color: #555;
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        left: 10px;
        top: 10px;
        background-color: #fafafa;
        border: 0;
        border-radius: 50%;
        line-height: 1;
    }
}

.content-block {
    padding: 1rem;
    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            margin-left: auto;
        }
    }
}

@media (min-width: 768px) {
    .details {
        position: relative;
    }
    .img-block {
        button {
            display: none;
        }
    }
}
