.page {
    padding: 1rem 0;
    min-height: 700px;

    > h3 {
        display: none;
    }
}

@media (min-width: 768px) {
    .page {
        > h3 {
            display: block;
        }
    }
    .content-page {
        display: flex;
    }

    .lists-panel {
        width: 35%;
        position: relative;
    }

    .details-panel {
        border:1px solid #efefef;
        width: 63%;
        margin-left: 2%
    }
}
